<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example rounded-2" smoothScroll="true" style="height: 1000px;" tabindex="0">
  <app-basic></app-basic>
  <br />
  
  <app-menus></app-menus>
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-progressbar></app-progressbar>
      </div>
      <div class="col-md-6">
        <app-spinner></app-spinner>
      </div>
      <div class="col-md-6">
        <app-navtab></app-navtab>
      </div>
      <div class="col-md-6">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <app-alerts></app-alerts>
      </div>
      <div class="col-md-6">
        <app-modals></app-modals>
      </div>
      <div class="col-md-6">
        <app-popovers></app-popovers>
      </div>
      <div class="col-md-6">
        <app-toasts></app-toasts>
      </div>
    </div>
  </div>

  <app-cards></app-cards>

  <app-sliders></app-sliders>
  
  <app-tables></app-tables>
</div>