<div>
  <div class="component-title">
    <h2 id="scrollspyHeading4">Spinners</h2>
    <p>
      A component that indicates the loading state of a component or page.
    </p>
  </div>
  
  <div>
    <h6>Normal spinner</h6>
    <div class="spinner-border text-success" role="status" style="width: 20px; height: 20px; margin-right: 10px;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-primary" role="status" style="margin-right: 10px;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-border text-danger" role="status" style="width: 3rem; height: 3rem; margin-right: 10px;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  

  <div>
    <h6>Glowing spinner</h6>
    <div class="spinner-grow text-danger" role="status" style="width: 20px; height: 20px; margin-right: 10px;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status" style="margin-right: 10px;">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status" style="width: 3rem; height: 3rem; margin-right: 10px;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  
  <div>
    <h6>Button spinner</h6>
    <button class="btn btn-info" type="button">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
      <span style="font-style: italic;">Loading...</span>
    </button>
  </div>
