.mt-0 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.navbar {
    font-size: 14px;
    background: #FFFFFF;
    box-shadow: 0 6px 10px -4px #00000026;
}
/* 
.dark-mode {
    background-color: #202324;
    color: white;
} */

