<div>
  <div class="component-title">
    <h2 id="scrollspyHeading9">Popovers</h2>
    <p>
      A popover is an overlay which covers the material in a web browser without the need to create a new window.
    </p>
  </div>
  <div>
    <button type="button" class="btn btn-outline-danger btn-round mr-2" placement="right"
          ngbPopover="A popover on your right" popoverTitle="Popover title" style="margin-right: 10px;;">
    on right
  </button>
  
  <button type="button" class="btn btn-outline-danger btn-round mr-2" placement="top"
          ngbPopover="A popover on your top" popoverTitle="Popover title" style="margin-right: 10px;">
    on top
  </button>

  <button type="button" class="btn btn-outline-danger btn-round mr-2" placement="left"
          ngbPopover="A popover on your left" popoverTitle="Popover title"  style="margin-right: 10px;">
    Popover on left
  </button>


  <button type="button" class="btn btn-outline-danger btn-round mr-2" placement="bottom"
          ngbPopover="A popover on your bottom" popoverTitle="Popover title">
    Popover on bottom
  </button>
    
  
</div>
</div>






