<div class="container">
    <h2 id="scrollspyHeading1">Basic Components</h2>
    <div>
      <h3>
        Buttons<br />
        <small>Styles</small>
      </h3>
      <div>
        <button type="button" class="btn btn-danger" style="border-radius: 0px; margin-right: 10px;">Square</button>
        <button type="button" class="btn btn-danger" style="border-radius: 0.25rem; margin-right: 10px;">Default</button>
        <button type="button" class="btn btn-danger" style="margin-right: 10px;">
          <i class="bi bi-arrow-down-square"></i>
          text
        </button>
        <button type="button" class="btn btn-outline-danger" style="margin-right: 10px;">
          outline
        </button>
        <button type="button" class="btn btn-danger" style="border-radius: 30px; margin-right: 10px;">Round</button>
        <button type="button" class="btn btn-danger" style="border-radius: 50px; margin-right: 10px;">
          <i class="bi bi-arrow-down-square"></i>
        </button>
      </div>
    </div>
  

  <div>
    <div>
      <h3>
        <br />
        <small>Sizes</small>
      </h3>
      <div>
        <button type="button" class="btn btn-outline-danger btn-sm" style="margin-right: 10px;">Small</button>
        <button type="button" class="btn btn-outline-danger" style="margin-right: 10px;">Regular</button>
        <button type="button" class="btn btn-outline-danger btn-lg" style="margin-right: 10px;">Large</button>
      </div>
    </div>
  </div>
  

  <div>
    <div>
      <h3>
        <br />
        <small>Colors</small>
      </h3>
      <div>
        <button type="button" class="btn btn-dark" style="margin-right: 10px;">Dark</button>
        <button type="button" class="btn btn-default" style="margin-right: 10px;">Default</button>
        <button type="button" class="btn btn-primary" style="margin-right: 10px;">Primary</button>
        <button type="button" class="btn btn-secondary" style="margin-right: 10px;">Secondary</button>
        <button type="button" class="btn btn-success" style="margin-right: 10px;">Success</button>
        <button type="button" class="btn btn-info" style="margin-right: 10px;">Info</button>
        <button type="button" class="btn btn-warning" style="margin-right: 10px;">Warning</button>
        <button type="button" class="btn btn-danger" style="margin-right: 10px;">Danger</button>
      </div>
      <br />
      <div>
        <button type="button" class="btn btn-outline-dark" style="margin-right: 10px;">Dark</button>
        <button type="button" class="btn btn-outline-light" style="margin-right: 10px;">Light</button>
        <button type="button" class="btn btn-outline-primary" style="margin-right: 10px;">Primary</button>
        <button type="button" class="btn btn-outline-secondary" style="margin-right: 10px;">Secondary</button>
        <button type="button" class="btn btn-outline-success" style="margin-right: 10px;">Success</button>
        <button type="button" class="btn btn-outline-info" style="margin-right: 10px;">Info</button>
        <button type="button" class="btn btn-outline-warning" style="margin-right: 10px;">Warning</button>
        <button type="button" class="btn btn-outline-danger" style="margin-right: 10px;">Danger</button>
      </div>
    </div>
  </div>
 
  <div>
    <div>
      <h3>
        <br />
        <small>Links</small>
      </h3>
      <div >
        <a href="#" class="link-dark" style="margin-right: 10px; text-decoration: none;">Dark</a>
        <a href="#" class="link-light" style="margin-right: 10px; text-decoration: none;">Light</a>
        <a href="#" class="link-primary" style="margin-right: 10px; text-decoration: none;">Primary</a>
        <a href="#" class="link-secondary" style="margin-right: 10px; text-decoration: none;">Secondary</a>
        <a href="#" class="link-success" style="margin-right: 10px; text-decoration: none;">Success</a>
        <a href="#" class="link-danger" style="margin-right: 10px; text-decoration: none;">Danger</a>
        <a href="#" class="link-warning" style="margin-right: 10px; text-decoration: none;">Warning</a>
        <a href="#" class="link-info" style="margin-right: 10px; text-decoration: none;">Info</a>
      </div>
    </div>
  </div>

  <div>
    <h3>
      <br />
      Forms
    </h3>
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div>
            <br />
            <h4>Inputs</h4>
        </div>
        <div class="row" style="padding: 5px;">
          <input type="text"  class="form-control" value="Default">
        </div>
        <div class="row" style="padding: 5px;">
          <input type="text"  class="form-control" style="background-color: #6bd098; color: green;" value="Success">
        </div>
        <div class="row" style="padding: 5px;">
          <input type="text"  class="form-control" style="background-color: rgb(106, 32, 0); color: red;" value="Error">
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div >
            <br />
            <h4>Checkboxes</h4>
        </div>
          <div class="form-check">
            <label>
              <input style="accent-color: red !important;" type="checkbox" value="" >
              Unchecked
              
            </label>
          </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div >
          <br />
            <h4>Radio Buttons</h4>
        </div>
        <div class="form-check-radio">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" >
            Radio is off
            <span class="form-check-sign"></span>
          </label>
        </div>
        <div class="form-check-radio">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked="">
            Radio is on
            <span class="form-check-sign"></span>
          </label>
        </div>
        <div class="form-check-radio disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios3" value="option3" disabled="">
            Disabled Radio is off
            <span class="form-check-sign"></span>
          </label>
        </div>
        <div class="form-check-radio disabled">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios4" value="option3" checked disabled="">
            Disabled Radio is on
            <span class="form-check-sign"></span>
          </label>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div>
        <br />
          <h4>Toggle Buttons</h4>
      </div>
      <!-- <bSwitch
                    [switch-on-color]="'primary'">
                </bSwitch>
                <bSwitch
                    [switch-on-color]="'primary'"
                    [(ngModel)]="state_default"> Toggle is off
                </bSwitch> -->

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
      </div>
      <div> 
        <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
        <label class="btn btn-outline-success" for="btn-check-outlined">Single toggle</label><br>
      </div>
      
    </div>
    </div>
    <div class="row">
      <div class="col">
        <div>
          <br />
          <h4>Close Buttons</h4>
        </div>
        <button type="button" class="btn-close" aria-label="Close"></button>
        <button type="button" class="btn-close" disabled aria-label="Close"></button>
        <div style="background-color: black;">
          <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
        </div>
        
      </div>
      <div class="col">
        <div>
          <div>
            <br />
            <h4>Button group</h4>
          </div>

          <div>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-danger">Left</button>
              <button type="button" class="btn btn-warning">Middle</button>
              <button type="button" class="btn btn-success">Right</button>
            </div>
          </div>

          <br />
          
          
          <div>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck1">1</label>
            
              <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck2">2</label>
            
              <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck3">3</label>
            </div>
          </div>

          <br />
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">1</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">2</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">3</label>
          </div>
         
        </div>
      </div>
      <div class="col">
        <div>
          <div>
            <br />
            <h4>Rating</h4>
            
          </div>
          <div class="mb-3">
            <ngb-rating [formControl]="ctrl"></ngb-rating>
            <div class="form-text small">
              <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
              <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
            </div>
          </div>

          <hr />
          <pre>Model: <b>{{ ctrl.value }}</b></pre>
          <button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} me-2" (click)="toggle()">
            {{ ctrl.disabled ? "control disabled" : " control enabled" }}
          </button>
          <button class="btn btn-sm btn-outline-primary me-2" (click)="ctrl.setValue(null)">Clear</button>
                  </div>
      </div>
     <div class="col">
      <div>
        <div>
          <div>
            <br />
            <h4>Badge</h4>
          </div>
          

        </div> 
      </div>
      </div>
    </div>
  </div>
</div>
