<div class="container">
  <div class="component-title">
    <h2 id="scrollspyHeading1">Basic Components</h2>
  </div>
  <div id="buttons">
    <div class="component-title">
      <h3>
        Buttons<br />
        <small>Styles</small>
      </h3>
    </div>
    <div id="buttons-styles">
      <button type="button" class="btn btn-primary" style="border-radius: 0px;">Sharpe</button>
      <button type="button" class="btn btn-primary" style="border-radius: 0.25rem;">Default</button>
      <button type="button" class="btn btn-outline-primary">
        outline
      </button>
      <button type="button" class="btn btn-primary" style="border-radius: 30px;">Round</button>
      <button type="button" class="btn btn-primary" style="border-radius: 30px;">
        <i class="bi bi-hand-thumbs-up-fill"></i>
        like
      </button>
      <button type="button" class="btn btn-primary" style="border-radius: 50px;">
        <i class="bi bi-hand-thumbs-up-fill"></i>
      </button>
    </div>
    <div id="buttons-sizes">
      <div class="component-title">
        <h3><small>Sizes</small></h3>
      </div>
      <div>
        <button type="button" class="btn btn-outline-success btn-sm">Small</button>
        <button type="button" class="btn btn-outline-success">Regular</button>
        <button type="button" class="btn btn-outline-success btn-lg">Large</button>
      </div>
    </div>
    <div id="buttons-colors">
      <div class="component-title">
        <h3><small>Colors</small></h3>
      </div>
      <div id="buttons-outline-colors">
        <button type="button" class="btn btn-outline-light">Light</button>
        <button type="button" class="btn btn-outline-dark">Dark</button>
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-secondary">Secondary</button>
        <button type="button" class="btn btn-outline-success">Success</button>
        <button type="button" class="btn btn-outline-info">Info</button>
        <button type="button" class="btn btn-outline-warning">Warning</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
      </div>
      <br />
      <div>
        <button type="button" class="btn btn-light">Light</button>
        <button type="button" class="btn btn-dark">Dark</button>
        <button type="button" class="btn btn-primary">Primary</button>
        <button type="button" class="btn btn-secondary">Secondary</button>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-info">Info</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-danger">Danger</button>
      </div>
    </div>
   
    <div id="buttons-links">
      <div class="component-title">
        <h3>
          <small>Links</small>
        </h3>
      </div>
      <div class="links">
        <a class="link-light">Light</a>
        <a class="link-dark">Dark</a>
        <a class="link-primary">Primary</a>
        <a class="link-secondary">Secondary</a>
        <a class="link-success">Success</a>
        <a class="link-info">Info</a>
        <a class="link-warning">Warning</a>
        <a class="link-danger">Danger</a>  
      </div>
    </div>
  </div>

  <div id="forms">
    <div class="row">
        <div class="component-title">
          <h3>Inputs</h3>
        </div>
        <div class="row">
          <div class="col-md-3">
            <input type="text"  class="form-control" value="Success" style="color: green; background-color: #9cffab; border: 2px solid #44c47d;" >
          </div>
          <div class="col-md-3">
            <form #f="ngForm">
              <input id="error" type="text" ngModel class="form-control" name="input" minlength="5" required 
              style="color: red; background-color: #ffc0a4; border: 2px solid #f5593d;"/>
              <p *ngIf="!f.valid" style="color: red;">Input requires at least 5 characters</p>
            </form>
            
          </div>
          <div class="col-md-3">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text" id="basic-addon1">
                <i class="bi bi-person-fill"></i>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group mb-3">
              <input #passwordInput type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1" style="border-right: none;">
              <span class="input-group-text" id="basic-addon1" style="background-color: transparent;">
                <i class="bi bi-eye-fill" style="cursor: pointer;" (click)="unhidePassword(passwordInput)"></i>
              </span>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="component-title">
            <h3>Checkboxes</h3>
        </div>
        <div>
          <div>
            <label class="checkbox-container">
              <input type="checkbox">
              <span class="checkmark"></span>
              Unchecked
            </label>
          </div>
          <div>
            <label class="checkbox-container">
              <input type="checkbox" checked>
              <span class="checkmark"></span>
              Checked
            </label>
          </div>
          <div style="opacity: 0.6;">
            <label class="checkbox-container">
              <input type="checkbox" checked disabled>
              <span class="checkmark"></span>
              Disabled checked
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-4">
          <div class="component-title">
              <h3 >Radio Buttons</h3>
          </div>
          <div>
            <label class="radio-container">
              <input type="radio" name="radio-group">
              <span class="checkmark"></span>
              Radio is off
            </label>
          </div>
          <div>
            <label class="radio-container">
              <input type="radio" name="radio-group">
              <span class="checkmark"></span>
              Radio is on
            </label>
          </div>
          <div>
            <label class="radio-container" style="opacity: 0.6;">
              <input type="radio" name="radio-group" disabled checked>
              <span class="checkmark"></span>
              Radio is off disabled
            </label>
          </div>
      </div>
      <div class="col-md-4">
        <div class="component-title"> 
            <h3>Toggle Buttons</h3>
        </div>
        <div>
          <label class="switch">
            <input type="checkbox" (click)="toggleDarkMode()">
            <span class="slider"></span>
            <span class="label-on">ON</span>
            <span class="label-off">OFF</span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="component-title">
              <h3>Button group</h3>
            </div>

            <div>
              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-danger">Left</button>
                <button type="button" class="btn btn-warning">Middle</button>
                <button type="button" class="btn btn-success">Right</button>
              </div>
            </div>

            <br />
            
            
            <div>
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck1">1</label>
              
                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck2">2</label>
              
                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btncheck3">3</label>
              </div>
            </div>

            <br />
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-primary" for="btnradio1">1</label>
            
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio2">2</label>
            
              <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
              <label class="btn btn-outline-primary" for="btnradio3">3</label>
            </div>
          
          </div>
        </div>
      <div class="col-md-4">
        <div>
          <div class="component-title">
            <h3>Rating</h3>
          </div>


          <ng-template #t let-fill="fill">
            <i class="bi-star-fill">
              <i *ngIf="fill > 0" class="bi-star-fill filled" [style.width.%]="fill"></i>
            </i>
          </ng-template>
          <div class="mb-3">
            <ngb-rating [formControl]="ctrl" [rate]="currentRate" [max]="5" [starTemplate]="t" ></ngb-rating>
            <div class="form-text small">
              <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
              <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
            </div>
          </div>
          

          <hr />
          <pre>Model: <b>{{ ctrl.value }}</b></pre>
          <button class="btn btn-sm btn-outline-{{ ctrl.disabled ? 'danger' : 'success'}} me-2" (click)="toggle()">
            {{ ctrl.disabled ? "control disabled" : " control enabled" }}
          </button>
          <button class="btn btn-sm btn-outline-primary me-2" (click)="ctrl.setValue(null)">Clear</button>
                  </div>
      </div>
      <div class="col-md-4">
          <div>
            <div>
              <div class="component-title">
                <h3>Badge</h3>
              </div>
              <button type="button" class="btn position-relative bg-primary" style="border-radius: 50px;">
                <i class="bi bi-plus-circle" style="color: white;"></i>
              </button>
              <button type="button" class="btn position-relative bg-info" style="border-radius: 50px;">
                <i class="bi bi-bell-fill" style="color: white"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                  3+
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
              
              
            </div> 
          </div>
        </div>
    </div>
  </div>
</div>
