<h4 id="scrollspyHeading8">Modals</h4>
<p>
    A web page element that displays in front of and deactivates all other page content.
</p>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
style="border-radius: 30px; margin-right: 10px;">
    Launch modal
  </button>
  

 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">I'm a modal</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          A web page element that displays in front of and deactivates all other page content.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal" style="border-radius: 30px; margin-right: 10px;">Confirm</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" style="border-radius: 30px; margin-right: 10px;">Close</button>
          
        </div>
      </div>
    </div>
  </div>
