<div class="container">
    <div class="row" style="margin-top: 4%;">
        <div class="col-md-6" style="padding: 0;">
            <div class="card" style="border-radius: 5px 0px 0px 5px; background-image: url('../../../../assets/2311974.jpg'); 
            background-size: cover; height: 420px; border: none; opacity: 0.9;">
                <div class="card-body" style="padding: 15%;">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center; margin-bottom: 10%;">
                            <h1 style="font-size: 40px; font-style: normal; font-weight: 700; font-family: 'Roboto';  color: black; opacity: 1;">Connexion</h1>
                        </div>
                        <div class="col-md-12" style="margin-bottom: 7px;">
                            <input type="text"  class="form-control" style="background-color: white; color: black; border-radius: 5px; text-align: center; font-weight: bold; font-family: 'Roboto';" placeholder="Email">
                        </div>
                        <div class="col-md-12">
                            <input type="password"  class="form-control" style="background-color: white; color: black; border-radius: 5px; border: none; text-align: center; font-weight: bold; font-family: 'Roboto';" placeholder="Mot de passe">
                        </div>
                        <div class="col-md-12" style="margin-top: 15%; text-align: center;" >
                            <button type="button" class="btn" style="border-radius: 25px; width: 50%; background-color: #FFDF1B; color: black; font-weight: bold; font-family: 'Roboto';">Se connecter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="padding: 0;">
            <div class="card" style="border-radius: 0px 5px 5px 0px; background-image: url('../../../../assets/4597115.jpg'); 
            background-size: cover; height: 420px; border: none;">
                <div class="card-body" style="padding: 7%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12" style="text-align: center; margin-bottom: 8%;">
                                <h1 style="font-size: 40px; font-style: normal; font-weight: 700; font-family: 'Roboto';  color: black; opacity: 1;">Créer compte</h1>
                            </div>
                            <div class="col-md-6" style="margin-bottom: 1%;">
                                <input type="text"  class="form-control" style="background-color: white; color: black; border-radius: 5px; text-align: center; font-weight: bold; font-family: 'Roboto'; opacity: 0.8;" placeholder="Nom">
                            </div>
                            <div class="col-md-6" style="margin-bottom: 1%;">
                                <input type="text"  class="form-control" style="background-color: white; color: black; border-radius: 5px; border: none; text-align: center; font-weight: bold; font-family: 'Roboto';  opacity: 0.8;" placeholder="Prénom">
                            </div>
                            <div class="col-md-12" style="margin-bottom: 1%;">
                                <input type="text"  class="form-control" style="background-color: white; color: black; border-radius: 5px; border: none; text-align: center; font-weight: bold; font-family: 'Roboto';  opacity: 0.8;" placeholder="Email">
                            </div>
                            <div class="col-md-12" style="margin-bottom: 1%;">
                                <input type="password"  class="form-control" style="background-color: white; color: black; border-radius: 5px; border: none; text-align: center; font-weight: bold; font-family: 'Roboto';  opacity: 0.8;" placeholder="Mot de passe">
                            </div>
                            <div class="col-md-12">
                                <input type="password"  class="form-control" style="background-color: white; color: black; border-radius: 5px; border: none; text-align: center; font-weight: bold; font-family: 'Roboto';  opacity: 0.8;" placeholder="Confirmer mot de passe">
                            </div>
                            <div class="col-md-12" style="margin-top: 6%; text-align: center;" >
                                <button type="button" class="btn" style="border-radius: 25px; width: 50%; background-color: #FFDF1B; color: black; font-weight: bold; font-family: 'Roboto';">S'inscrire</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>
