<div class="container">
    <h4 id="scrollspyHeading13">Tables</h4>
    <p>
      This is some placeholder content for the scrollspy page. Note that as you scroll down the page, the appropriate navigation link is highlighted. It's repeated throughout the component example. We keep adding some more example copy here to emphasize the scrolling and highlighting.
    </p>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Country</th>
                        <th scope="col">Area</th>
                        <th scope="col">Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries">
                        <th scope="row">{{ country.id }}</th>
                        <td>
                            <img
                                [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
                                class="me-2"
                                style="width: 20px"
                            />
                            {{ country.name }}
                        </td>
                        <td>{{ country.area | number}}</td>
                        <td>{{ country.population | number }}</td>
                    </tr>
                </tbody>
            </table>
            
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination
                    [collectionSize]="collectionSize"
                    [(page)]="page"
                    [pageSize]="pageSize"
                    (pageChange)="refreshCountries()"
                >
                </ngb-pagination>
            </div>
        </div>
        <div class="col-md-6">
            <form>
                <div class="mb-3 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
                    <div class="col-xs-3 col-sm-auto">
                        <input id="table-filtering-search" class="form-control" type="text" [formControl]="filter" />
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Country</th>
                        <th scope="col">Area</th>
                        <th scope="col">Population</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let country of countries$ | async; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                            <img
                                [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag"
                                class="me-2"
                                style="width: 20px"
                            />
                            <ngb-highlight [result]="country.name" [term]="filter.value"></ngb-highlight>
                        </td>
                        <td><ngb-highlight [result]="country.area | number" [term]="filter.value"></ngb-highlight></td>
                        <td><ngb-highlight [result]="country.population | number" [term]="filter.value"></ngb-highlight></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
  
  </div>

